<div class="cabecalho">
    <div class="text-center">
        <h1 class="display-3"> Yuri Karas Regis </h1> 
        <h3> Estudande de Análise e Desenvolvimento de Sistemas </h3>
    </div>

    <div style="position: absolute; right: 10px;">
        <a href="https://www.linkedin.com/in/yuri-karas-regis-978a90231//" target="_blank" class="">
            <img src="../../assets/linkedin.jpg" width="28" height="28" class="rounded-circle me-2">
        </a>
        
        <a href="https://github.com/Yuri-Regis" target="_blank" class="">
            <img src="../../assets/github.jpg" width="38" height="38" class="rounded-circle me-2">
        </a>
    </div>
    <br>
</div>

