<div class="container text-center">
    
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Experiência" >
                <div align="left">
                    <h2 class="mb-0"> Programador de Sistemas de Informação </h2>
                    <h3 class="text-primary"> Companhia de Serviços de Urbanização de Guarapuava </h3>
                    <ul>
                        <li> Manutenção e Suporte de Computadores </li>
                        <li> Configuração e Instalação de Sistemas Windows </li>
                        <li> Manutenção e Monitoramento de Redes </li>
                        <li> Atendimento e Suporte De Nível 1 e 2</li>
                    </ul>

                    <h2 class="mb-0"> Assistente de Suporte de T.I </h2>
                    <h3 class="text-primary"> Cooperativa Agrária Agroindustrial </h3>
                    <ul>
                        <li> Monitoramento de Redes e Sistemas </li>
                        <li> Atendimento e Suporte Técnico de Nível 2 </li>
                        <li> Documentação e Treinamento de Usuários </li>
                        <li> Instalação e Configuração de Máquinas, Software e Equipamentos de Rede </li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group heading="Educação">
                <div align="left">
                    <h2 class="mb-0"> Técnico em Informática integrado ao Ensino Médio </h2>
                    <h3 class="text-primary"> Colégio Estadual Francisco Carneiro Martins </h3>

                    <h2 class="mb-0"> Técnologo em Análise e Desenvolvimento de Sistemas</h2>
                    <h3 class="text-primary"> Centro Universitário Guairacá </h3>
                </div>
            </accordion-group>

            <accordion-group heading="Habilidades">
                <div align="left">
                    <ul>
                        <li> Hard Skills: </li>
                        <li> Lógica de Programação </li>
                        <li> Python </li>
                        <li> HTML, CSS e TypeScript </li>
                    </ul>
                    <ul>
                        <li> Soft Skills </li>
                        <li> Comunicação Efetiva e Clara </li>
                        <li> Facilidade e Familiaridade Com Trabalho em Equipe </li>
                        <li> Adaptabilidade Para Resolução de Problemas </li>
                    </ul>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>