<div class="container">
    <div class="row">
        <div class="col-gn shadow border m-1">
            <div class="text-center">
                <h2> Sobre Mim </h2>
                <img src="././assets/image.png" alt="profile picture" widht="246" height="256" class="rounded-circle">
                <br> <br> 
                <p>Me chamo Yuri e tenho 21 anos.</p>
                <p>Atualmente curso Análise e Desenvolvimento de Sistemas e estou em busca de oportunidades para aplicar habilidades técnicas e conhecimentos adquiridos
                ao longo do curso. Busco uma vaga na área para contribuir ativamente no desenvolvimento de soluções inovadoras e aprimorar minhas habilidades práticas.</p>
            </div>
            <div>
                <app-resumo></app-resumo>
            </div>
            <div>
                <app-contato></app-contato>
            </div>
        </div>
    </div>
</div>